.wrap-skeleton {
    display: flex;
    // justify-content: center;
    
    // align-items: center;
    flex-direction: column;
    .skeleton {
        width: 100%;
        border-radius: 0.75rem;
        background: linear-gradient(105deg, #888 25%, #5c5c5c 50%, #888 75%);
        background-size: 200% 100%;
        animation: loading 1.8s infinite;
        @keyframes loading {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: -100% 0;
            }
          }
    }
}

