.custom-btn {
    min-width: 15rem;
}
.custom-dropdown {
    width: 15rem;
    height: 10rem;
    overflow: auto;
    p {
        cursor: pointer;
    }
}


.list-book {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // overflow: auto;
    margin-top: 1rem;

    .custom-row {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .book {
        // margin: 0.5rem;
        // width: 15rem;
        // height: 10rem;
        // object-fit: contain;
        a {
            text-decoration: none;
        }
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        img {
            width: 100%;
            max-height: 15rem;
            height: 100%;
            object-fit: revert;
            border-radius: 0.5rem;
            overflow: hidden;
                
        }
        .book-info {
            h3 {
                font-size: 1rem;
                color: white;
                font-weight: 400;
                overflow: hidden;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // width: 80%;
                // height: 1rem;
            }
            h4 {
                font-size: 0.8rem;
                color: #888;
                font-weight: 400;
                overflow: hidden;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // width: 80%;
                // height: 1rem;
            }
        }
    }
}

@media (max-width : 576px) {
    .book:nth-child(5) {
        margin:auto;
    }
}