@import 'bootstrap/scss/bootstrap';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Nunito', sans-serif;
    --font-family-monospace: 'Roboto Mono', monospace;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


.global-style {
    padding: 0;
    margin: 0;
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 992px) {
    html {
        font-size: 90%;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 95%;
    }
}
@media (max-width: 1400px) {
    html {
        font-size: 100%;
    }
}
